.button {
  background-color: transparent;
  border: none;
  outline: none;
}
.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-image {
  height: 120px;
  width: 120px;
}
.products-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 420px;
}
.details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
